@import "tailwindcss";

/*animacion para notificaciones*/
@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-height: 100vh;

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

@layer base {
    html {
    scroll-behavior: smooth;
  }

  ::-webkit-scrollbar {
    width: 12px; /* Ancho de la zona del scroll */
  }

  ::-webkit-scrollbar-track {
    /* Aquí creamos un "margen" arriba y abajo para que el track no ocupe todo */
    background: transparent;
    margin-block: 20px; /* <--- ESTO separa el scroll de los extremos arriba y abajo */
  }

  ::-webkit-scrollbar-thumb {
    background-color: #4f46e5; /* indigo-600 */
    border-radius: 20px;
    
    /* Grosor de la barrita interna */
    border: 3px solid transparent; 
    background-clip: content-box;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #4338ca;
  }

  ::-webkit-scrollbar-button {
    display: none;
  }
}




@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
